extends layout

block content
  h1= title
  p Welcome to #{title}
  input#url1.span2(type='text',value="https://github.com/strongloop/loopback")
  label vs
  input#url2.span2(type='text',value="https://github.com/balderdashy/sails/")
  button#submit.btn.btn-large.btn-primary(type='submit') Compare
  #result
