extends layout

block content
  h1= title
  p Welcome to #{title}
  input.span2(type='text', name='as_q1')
  label vs
  input.span2(type='text', name='as_q2')
  button#submit.btn.btn-large.btn-primary(type='submit') Compare
  #result
